# ambiente virtual
# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/build

# Environment
venv
.venv
.env

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
/old-modules
*.bat
*.zip
*.pdf
*.xls
*.xlsx

# System files
.DS_Store
Thumbs.db